body{
  background-color: rgb(182, 243, 53);
}
button{
  padding: auto;
  border-radius: 10px;
  height: 40px;
  background-color: rgb(35, 35, 35);
  color: white;
  font-size: 15px;
  text-align: center;
  display: flex;
}